<button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
<md-menu #menu="mdMenu">
  <button md-menu-item (click)="navigate('/')">
    <md-icon>home</md-icon>
    <span>home</span>
  </button>
  <button md-menu-item *ngIf="!(isUserAuthenticated$ | async)" (click)="navigate('/login')">
    <md-icon>vpn_key</md-icon>
    <span>log in</span>
  </button>
  <button md-menu-item *ngIf="isUserAuthenticated$ | async" (click)="logout()">
    <md-icon>exit_to_app</md-icon>
    <span>log out</span>
  </button>
</md-menu>
