<form novalidate #courseEditForm="ngForm"
      (ngSubmit)="$event.preventDefault(); save()"
      fxLayout="column"
      fxLayoutGap="10px"
      fxLayoutAlign="start stretch">
  <header class="form-title">New course</header>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center stretch">
    <div fxFlex="2 2 40%" class="label-column">Title</div>
    <div fxFlex="3 3 60%">
      <md-input-container>
        <input mdInput
               name="title"
               required
               maxlength="50"
               [ngModel]="course.title">
      </md-input-container>
      <div *ngIf="courseEditForm?.controls?.title?.invalid && courseEditForm?.controls?.title?.dirty">
        <md-error *ngIf="courseEditForm?.controls?.title?.errors?.required">This field is required</md-error>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center stretch">
    <div fxFlex="2 2 40%" class="label-column">Description</div>
    <div fxFlex="3 3 60%">
      <md-input-container>
        <textarea mdInput
                  mdTextareaAutosize
                  name="description"
                  required
                  maxlength="500"
                  [ngModel]="course.description">
        </textarea>
      </md-input-container>
      <div *ngIf="courseEditForm?.controls?.description?.invalid && courseEditForm?.controls?.description?.dirty">
        <md-error *ngIf="courseEditForm?.controls?.description?.errors?.required">This field is required</md-error>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center stretch">
    <div fxFlex="2 2 40%" class="label-column">Date</div>
    <div fxFlex="3 3 60%">
      <c-date-input name="date" [ngModel]="course.date" required [control]="courseEditForm.controls.date"></c-date-input>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center stretch">
    <div fxFlex="2 2 40%" class="label-column">Duration</div>
    <div fxFlex="3 3 60%">
      <c-duration-input name="duration" [ngModel]="course.durationMinutes" required [control]="courseEditForm.controls.duration"></c-duration-input>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center stretch">
    <div fxFlex="2 2 40%" class="label-column">Authors</div>
    <div fxFlex="3 3 60%">
      <c-authors-input [authors]="authors$ | async" name="authors" ngModel required [control]="courseEditForm.controls.authors"></c-authors-input>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center stretch">
    <div fxFlex="2 2 40%" class="label-column"></div>
    <div fxFlex="3 3 60%">
      <button md-button type="submit" [disabled]="courseEditForm.pristine || courseEditForm.invalid"><md-icon>save</md-icon>Save</button>
      <button md-button (click)="cancel()"><md-icon>cancel</md-icon>Cancel</button>
    </div>
  </div>
</form>

{{ courseEditForm.value | json }}

{{ course | json }}
