<form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start stretch">
  <header class="form-title">New course</header>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center stretch">
    <div fxFlex="2 2 40%" class="label-column">Title</div>
    <div fxFlex="3 3 60%">
      <md-input-container>
        <input mdInput>
      </md-input-container>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center stretch">
    <div fxFlex="2 2 40%" class="label-column">Description</div>
    <div fxFlex="3 3 60%">
      <md-input-container>
        <textarea mdInput mdTextareaAutosize></textarea>
      </md-input-container>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center stretch">
    <div fxFlex="2 2 40%" class="label-column">Date</div>
    <div fxFlex="3 3 60%">
      <md-input-container>
        <input mdInput type="date">
      </md-input-container>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center stretch">
    <div fxFlex="2 2 40%" class="label-column">Duration</div>
    <div fxFlex="3 3 60%">
      <md-input-container class="duration-input">
        <input mdInput type="number" placeholder="minutes" [(ngModel)]="duration" name="duration">
      </md-input-container>
      <span>{{ duration | cCourseDuration }}</span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center stretch">
    <div fxFlex="2 2 40%" class="label-column">Authors</div>
    <div fxFlex="3 3 60%">
      <md-input-container>
        <input mdInput>
      </md-input-container>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center stretch">
    <div fxFlex="2 2 40%" class="label-column"></div>
    <div fxFlex="3 3 60%">
      <button md-button (click)="save()"><md-icon>save</md-icon>Save</button>
      <button md-button (click)="cancel()"><md-icon>cancel</md-icon>Cancel</button>
    </div>
  </div>
</form>
