<md-list-item>
    <header md-line fxLayout="row" fxLayoutAlign="center center">
        <h3 class="title">{{ course.title }}</h3>
        <p class="length">
            <md-icon class="length-icon">access_time</md-icon>{{ course.durationMinutes | amDuration:'minutes' }}</p>
        <i fxFlex="grow"></i>
        <p class="date">
            <md-icon class="date-icon">date_range</md-icon>{{ course.dateCreated | amDateFormat:'DD.MM.YYYY' }}</p>
    </header>
    <p md-line>{{ course.description }}</p>
    <button md-icon-button><md-icon>edit</md-icon></button>
    <button md-icon-button (click)="onDelete()"><md-icon>delete</md-icon></button>
</md-list-item>