.title {
  margin-right: 10px;
}

.length {
  font-size: 1em;

  .length-icon {
    font-size: 1em;
    width: 1em;
    height: 1em;
    vertical-align: text-top;
  }
}

.date {
  font-size: 1em;

  .date-icon {
    font-size: 1em;
    width: 1em;
    height: 1em;
    vertical-align: text-top;
  }
}

.course-item {
  padding-bottom: 20px;
}
