<md-input-container>
  <input mdInput
         type="number"
         placeholder="minutes"
         min="1"
         step="1"
         [value]="viewValue"
         (blur)="parseValue($event)">
</md-input-container>
<span>{{ modelValue | cCourseDuration }}</span>

<div *ngIf="control?.invalid && control?.dirty">
  <md-error *ngIf="control?.errors?.invalidNumber; else requiredBlock">Invalid number</md-error>
  <ng-template #requiredBlock>
    <md-error *ngIf="control?.errors?.required">This input is required</md-error>
  </ng-template>
</div>
