@import '../styles/_variables.scss';
app {
    display: block;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    padding-top: $header-height;
}

.content {
    min-height: 100%;
}

c-header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}